@media (max-width: 1400px){

    .principal #imgs-container .card-box{
        width: 220px;
        height: 300px;
    }

    .principal #imgs-container .card-box img{
        transform: scale(.9);
    }

}


@media (max-width: 498px){

    header .info-parametros .controls{
        max-width: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
    }
    
    header .info-parametros .controls #gerar-baralho, #qtd-cartas, #tirar-cartas{
        flex: 1 1 100%;
    }

    header .info-parametros .controls i{
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
    }

    header .info-parametros .controls #qtd-cartas{
        padding: 10px 10px 10px 10px;
        text-align: center;
    }

    .principal #imgs-container{
        padding: 60px 0
    }

    .principal #imgs-container .card-box img{
        transform: scale(1);
    }

    .principal #imgs-container .card-box{
        width: 240px;
        height: 330px;
    }
}